@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  font-family: Inter, sans-serif;
  background-color: hsl(0, 0%, 8%);
}

img {
  max-width: 15%;
}

h2 {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
}

button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  border: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 20px;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(75, 94%, 57%);
}
