@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  font-family: Inter, sans-serif;
}

img {
  max-width: 15%;
}

h2 {
  font-size: 14px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
